{"posts":{"5453cc6057cb0":{"author":"bart","date":"2014-10-31T17:52:32+00:00","title":"Bartman here","content":"Don't have a cow, man!","tags":["one","two","three"]}},"users":{"bart":{"name":"Bart","email":"bart@simpson.com"},"homer":{"name":"Homer","email":"homer@simpson.com"},"marge":{"name":"Marge","email":"marge@simpson.com"}},"tags":{"one":[],"two":[],"three":[]}}